
.btn-sh{
  padding:5px 10px;
  background-color: var(--second-back);
  width: fit-content;
  border-radius: 6px;
  color: #505050;
}
.btn-b{
  background-color: var(--main-color);
  color: #fff;
  padding:5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}
.btn-b:hover{
  background-color: var(--alt-color);
}
.btn-g{
  background-color: var(--green-color);
  color: #fff;
  padding:5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}
.btn-g:hover{
  background-color:#039839d8;
}
.btn-o{
  background-color: var(--orange-color);
  color: #fff;
  padding:5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}
.btn-o:hover{
  background-color:#e1930b ;
}
.btn-r{
  background-color:var(--remove-color);
  color: #fff;
  padding:5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e91203;
  font-size: 15px;
}
@media(max-width:767px){
  .btn-r,
  .btn-o,
  .btn-g,
  .btn-b{
    font-size: 15px;
  }
  .btn-sh{
    font-size: 14px;
  }
}
.btn-r:hover{
  background-color:#d81103;
}
.brd-n{
  border: none;
  outline:none;
}
.trash{
  color: #646464;
  cursor: pointer;
  transition: var(--main-transition);
}
.trash:hover{
  color: #f33f32;
}
.brd{
  border: 1px solid var(--border-color);
}
.brd-t{
  border-top: 1px solid var(--border-color);
}
.brd-b{
  border-bottom: 1px solid #e6e6e6;
}
.brd-50{
  border-radius: 50%;
}
.brd-6{
  border-radius: 6px;
}
.d-b{
  display: block;
}
.d-f{
  display: flex;
}
.f-coll{
  flex-direction: column;
}
.it-c{
  align-items: center;
}
.gap-10{
  gap:10px;
}
.gap-15{
  gap:15px;
}
.gap-20{
  gap:20px;
}
.gap-25{
  gap:25px;
}
.f1{
  flex: 1;
}
.jc-b{
  justify-content: space-between;
}
.jc-a{
  justify-content: space-around;
}
.jc-c{
  justify-content:center;
}
.jc-e{
  justify-content:space-evenly;
}
.jc-en{
  justify-content:flex-end;
}
.f-r{
  flex-wrap: wrap;
}
.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top: 15px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mt-20{
  margin-top: 20px;
}
.mt-25{
  margin-top: 25px;
}
.mb-20{
  margin-bottom: 20px;
}
.ml-10{
  margin-top: 10px;
}
.ml-10{
  margin-left: 10px;
}
.mr-10{
  margin-right: 10px;
}
.ml-15{
  margin-left: 15px;
}
.mr-15{
  margin-right: 15px;
}
.ml-20{
  margin-left: 20px;
}
.mr-20{
  margin-right: 20px;
}
.pt-5{
  padding-top: 5px;
}
.pt-10{
  padding-top: 10px;
}
.pb-10{
  padding-bottom: 10px;
}
.pt-15{
  padding-top: 15px;
}
.pb-15{
  padding-bottom: 15px;
}
.pt-20{
  padding-top: 20px;
}
.pb-20{
  padding-bottom: 20px;
}
.pt-25{
  padding-top: 25px;
}
.pb-25{
  padding-bottom: 25px;
}
.pl-10{
  padding-left: 10px;
}
.pr-5{
  padding-right: 5px;
}
.pr-10{
  padding-right: 10px;
}
.pl-15{
  padding-left: 15px;
}
.pr-15{
  padding-right: 15px;
}
.pl-20{
  padding-left: 20px;
}
.pr-20{
  padding-right: 20px;
}
.p-10{
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.p-20{
  padding: 20px;
}
.p-25{
  padding: 25px;
}
.m-5{
  margin: 8px;
}
.m-10{
  margin: 10px;
}
.m-20{
  margin: 20px;
}
.m-25{
  margin: 25px;
}
.fs-13{
  font-size: 14px;
}
.fs-14{
  font-size: 14px;
}
.fs-15{
  font-size: 15px;
}
.fs-17{
  font-size: 17px;
}
.fs-19{
  font-size: 19px;
}
.fs-22{
  font-size: 22px;
}
.fs-26{
  font-size: 26px;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.t-c{
  text-align: center;
}
.t-r{
  text-align:right;
}
.tex-c{
  color: var(--tex-color);
}
.tex-d{
  color: #892f2f;
}
.lin{
  line-height: 1.8;
}
.bg-s{
  background-color: var(--second-back);
}
.bg-w{
  background-color: #fff;
}
.bg-b{
  background-color:var(--main-color);
}
.bg-g{
  background-color:var(--green-color);
}
.bg-r{
  background-color: var(--red-color);
}
.bg-o{
  background-color: var(--orange-color);
}
.green{
  color: var(--green-color);
}
.orange{
  color: var(--orange-color);
}
.blue{
  color: var(--main-color);
}
.red{
  color:var(--red-color);
}
.box-sh{
  box-shadow: var(--box-shadow);
}
.w-f{
  width: 100%;
}
.w-fit{
  width: fit-content;
}
.rot {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: 0.3s;
}
.rot:hover {
  transform: rotate(5deg);
}

@media(max-width:767px){
  .d-n{
  display: none;
  }
  .f-col{
    flex-direction: column;
    gap: 10px;
    margin-bottom: 12px;
  }
  .font-s{
    font-size: 14px;
  }
  .font-ss{
    font-size: 16px;
  }
  .t-cc{
    text-align: center;
  }
  .p-m{
    margin-top: 20px;
  }
}
input {
  appearance: none;
  -webkit-appearance: none;
}
.toggle label {
  display: block;
  position: relative;
  width: 78px;
  height: 30px;
  border-radius:21px;
  cursor: pointer;
  font-size:14px;
  color:#d6d6d6;
  transition: .3s;
}
.toggle label::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color:#fff;
  animation-name: toggle-size;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
} 
.toggle label::after, .toggle label .toggle-on, .toggle label .toggle-off {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 20%;
  width:16px;
  height:15px;
  padding: 2px;
  transform: translateY(-50%) translateX(-50%);
  transition: left 0.3s ease-in-out, background-color 0.3s ease-out, width 0.4s ease-in-out, height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}
.toggle input:checked + label::after, .toggle input:checked + label .toggle-on, .toggle input:checked + label .toggle-off{
  left: 82%;
}
.toggle input:checked + label{
  background-color: var(--main-color);
  color: var(--main-color);
}
.toggle .toggle-on, .toggle .toggle-off {
  z-index: 2;
}
.toggle input:not(:checked) + label{
  background: #d6d6d6;
}
.toggle input:checked + label .toggle-off, .toggle input:not(:checked) + label .toggle-on {
  width: 0;
  height: 0;
  opacity: 0;
}
@media(max-width:767px){
.toggle label{
    width: 65px;
    height: 25px;
    padding: 2px;
  }
.toggle label::after, .toggle label .toggle-on, .toggle label .toggle-off {
    width: 13px;
    height: 13px;
    font-size: 13px;
  }
  .toggle label::after, .toggle label .toggle-on, .toggle label .toggle-off {
  left: 16%;
  }
.toggle input:checked + label::after, .toggle input:checked + label .toggle-on, .toggle input:checked + label .toggle-off{
  left: 82%;
  }
}